* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Poppins", sans-serifbgc;
}
/* Here Body Section Styling */
body {
  /* width: 99vw;
    height: 99vh; */
  background-color: #edf1fd;
}

/* Here Header Section Start */
/* Here Header Section Start */
/* Here Header Section Start */

.navigation {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
}
.menuBar {
  display: none;
}
.logo {
  font-size: 35px;
  font-weight: 900;
  cursor: pointer;
}
.utility {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;
  font-size: 16px;
  font-weight: 700;
}
.utility li {
  list-style: none;
}
.utility li:hover {
  cursor: pointer;
  font-size: 17px;
  font-weight: 800;
  text-decoration: underline;
}
.btn {
  display: flex;
  gap: 25px;
}
input {
  padding: 5 px;
  border-radius: 5px;
  font-weight: 600;
}
button {
  font-size: 15px;
  font-weight: 600;
  background-color: rgb(18, 155, 155);
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 6px 18px;
}
button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
  cursor: pointer;
}

/* Here Main Section or Body Section Start */
/* Here Main Section or Body Section Start */
/* Here Main Section or Body Section Start */
/* Here Main Section or Body Section Start */
/* Here Main Section or Body Section Start */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 45px;
}
/* Here Hero Left Section Start */
.heading {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 15px;
}
.web {
  background-color: #cfcccc;
  font-size: 45px;
}
span {
  color: rgb(18, 155, 155);
  font-weight: 900;
}
p span {
  font-size: 18px;
}
.sub-heading {
  font-size: 15px;
  font-weight: 600;
}

/* Here Hero Right Section Start */
.right-hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

/* Here Footer Section Start */
/* Here Footer Section Start */
/* Here Footer Section Start */
/* Here Footer Section Start */

.footer-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 35px;
  font-weight: 800;
}
.socialIcons {
  display: flex;
  gap: 15px;
}

/* Media Queries Start */
/* Media Queries Start */
/* Media Queries Start */
/* Media Queries Start */
/* Media Queries Start */
@media (max-width: 900px) {
  header {
    box-shadow: 0px 0px 10px grey;
    padding: 20px;
  }
  .navigation {
    justify-content: space-between;
    margin-top: 0px;
    width: 100%;
    max-height: 40px;
    overflow-y: hidden;
  }
  .menuBar {
    display: block;
  }
  .utility {
    display: block;
    width: 100%;
  }
  .utility li {
    display: block;
    width: 100%;
    margin-top: 20px;
  }
  .btn {
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }
  input {
    display: block;
    padding-left: 20px;
  }
  button {
    padding: 7px 25px;
  }

  /* Here Main Section or Body Section Start */
  /* Here Main Section or Body Section Start */
  /* Here Main Section or Body Section Start */
  /* Here Main Section or Body Section Start */
  /* Here Main Section or Body Section Start */
  .hero-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;
    gap: 20px;
    padding: 20px;
  }
  /* Here Hero Left Section Start */
  .heading {
    font-size: 35px;
    margin-bottom: 20px;
  }
  .web {
    font-size: 40px;
  }
  span {
    color: rgb(18, 155, 155);
    font-weight: 900;
  }
  p span {
    font-size: 18px;
  }
  .sub-heading {
    font-size: 15px;
    font-weight: 600;
  }

  /* Here Hero Right Section Start */
  .right-hero-section {
    gap: 15px;
  }
  .right-hero-section img {
    width: 300px;
    height: 300px;
  }

  /* Here Footer Section Start */
  /* Here Footer Section Start */
  /* Here Footer Section Start */
  /* Here Footer Section Start */

  .footer-section {
    display: flex;
    flex-direction: column;
  }
}
